@model IEnumerable<League.ViewModels.VdrawViewModel>

@{
    ViewBag.Title = "Active";
}

<h2>Draw</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Draw")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoundWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalLineup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoundWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalLineup)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Draw", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Draw", new { id=item.Id }, null) 
        </td>
    </tr>
}

</table>
